.game__style {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #4a4e69;
}

.info__style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
